@page
@model EntAppSecond.Pages.stud.CreateModel
@addTagHelper *, Microsoft.AspNetcore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Create";
}



<h2>Create</h2>

<form method="post">

    <div>
        <label asp-for="Student.FirstName"></label>
        <input asp-for="Student.FirstName" />
    </div>

    <div>
        <label asp-for="Student.LastName"></label>
        <input asp-for="Student.LastName" />
    </div>

    <div>
        <label asp-for="Student.StudentID"></label>
        <input asp-for="Student.StudentID" />
    </div>

    <div>
        <label asp-for="Student.DOB"></label>
        <input asp-for="Student.DOB" />
    </div>

    <div>
        <label asp-for="Student.NumberOfModules"></label>
        <input asp-for="Student.NumberOfModules" />
    </div>

    <div>
        <label asp-for="Student.HeightInCM"></label>
        <input asp-for="Student.HeightInCM" />
    </div>

    <div>
        <label asp-for="Student.Email"></label>
        <input asp-for="Student.Email" />
    </div>

    <div>
        <label asp-for="Student.EmailConfirm"></label>
        <input asp-for="Student.EmailConfirm" />
    </div>

    <button type="submit">Press Me!</button>

    <div asp-validation-summary="All"></div>

    @*<span asp-validation-for="Student.StudentID"></span>*@
</form>